:root {
  --blue: #2f87f9;
  --black: #000000;
  --gray: #65696d;
}

* {
  font-family: 'Roboto', sans-serif;
}


.tech {
  gap: 0.5rem;
  & span {
    padding: 0 0.25rem 0.25rem;
    border-bottom: 1px solid black;
  }
}
